_site
node_modules
npm-debug.log
.DS_Store
*/.DS_Store
*/*/.DS_Store
*.sh
.idea
.idea/
/.gradle/
# Created by .ignore support plugin (hsz.mobi)
*.iml
.gradle
/local.properties
/.idea/workspace.xml
.idea/libraries
build
captures
.externalNativeBuild
.jekyll-cache
